	$simple-background-color: #ffffff;
	$primary-text-color: #ffffff;
	$ui-base-color: #0000ff;
	$ui-base-lighter-color: #ffffff;
	$ui-primary-color: #eeeeff;
	$ui-secondary-color: #9999ff;
	$ui-highlight-color: #10121e;
	
	@import 'application';

